/* App.css */

/* Basic styles */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype'); /* Adjust the path as needed */
}

@font-face {
  font-family: 'Anton';
  src: url('./fonts/BigCaslonFB-Bold.ttf') format('truetype');
}

body {
  font-family: 'Montserrat', sans-serif; /* Change font-family to Montserrat */
  background-image: url('./background.jpeg'); /* Adjust the path as needed */
  background-size: cover; /* Adjust background size */
  background-repeat: no-repeat; /* Prevent repeating the background */
  letter-spacing: 1px;
  background-attachment: fixed; /* Ensure the background image remains fixed */
  background-repeat: no-repeat;
  /* Additional background properties can be added here */
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000; /* background */
  color: #fff;
  border-radius: 70px;
}

.logo img {
  width: 50px; /* Adjust size as needed */
  height: auto;
  cursor: pointer; /* Add pointer cursor to logo */
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation ul li {
  display: inline;
  margin-right: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.9s; /* Add transition for smoother effect */
}

.navigation ul li a.active,
.navigation ul li a:hover {
  font-weight: bold;
  color: #ffffff; /* Change color on hover */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Add glow effect on hover */
}

.main-content {
  position: relative;
  display: flex; /* Use flexbox */
  align-items: flex-start; /* Align items to the start of the container */
}

.content-box {
  width: 50%; /* Adjust width of the content box */
  transition: transform 0.3s ease;
  display: inline-block;
  border: 2px solid #333;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.content-box h1 {
  font-family: 'Anton'; /* Apply Franchise font to h1 */
  font-size: 55px;
  letter-spacing: 2px; /* Adjust font size as needed */
}

.content-box p {
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font to p */
  font-size: 20px; /* Adjust font size as needed */
}

.gif-container {
  display: flex;
  justify-content: flex-end; /* Align the GIF to the right */
  margin-top: 20px; /* Add some space between the box and the GIF */
}

.gif {
  max-width: 300px; /* Adjust the maximum width of the GIF as needed */
  position: relative;
  top: 0;
  right: -140px;
  margin-top: 20px; /* Adjust margin as needed */
  width: 255px; /* Adjust width of the GIF */
  border-radius: 20px;
}

/* ProjectsPage.css */
.projects-page {
  padding: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 20px; /* Gap between grid items */
}

.project-box {
  border: 2px solid #333;
  background-color: rgba(255, 255, 255, 0.9 );
  padding: 20px;
  border-radius: 20px;
}

.projects-page h1 {
  font-family: 'Anton'; /* Apply Franchise font to h1 */
  font-size: 60px; /* Increase font size */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3); /* Add text shadow */
}

/* Apply font to headings on Achievements, Resume, and About pages if necessary */
.achievements-page h1,
.resume-page h1,
.about-page h1 {
  font-family: 'Anton'; /* Apply Franchise font to h1 */
  font-size: 60px; /* Increase font size */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9); /* Add text shadow */
}

.project-box {
  width: 350px; /* Set a fixed width for the project box */
  height: 400px; /* Set a fixed height for the project box */
  border: 2px solid #333;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  cursor: pointer; /* Add pointer cursor to indicate clickability */
  display: flex;
  flex-direction: column; /* Align content vertically */
}



.project-box:hover {
  transform: scale(1.05); /* Scale up the box on hover */
}

.project-title,
.achievement-title {
  font-family: 'Anton';
  font-size: 24px; /* Adjust font size as needed */
}

.achievements-page {
  padding: 20px;
}

.achievements-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust column layout as needed */
  gap: 20px; /* Adjust gap between grid items as needed */
}

.achievement-box {
  border: 2px solid #333;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.achievement-box:hover {
  transform: scale(1.05); /* Scale up the box on hover */
}

.resume-page {
  padding: 20px;
}

.resume-heading {
  font-family: 'Anton'; /* Apply Franchise font to the resume heading */
}

.resume-images {
  display: fill;
  /* Ensure images are evenly spaced */
}

.resume-images img {
  width: 100%; /* Adjust image width as needed */
}

/* Apply font to headings on About page if necessary */
.about-page h1 {
  font-family: 'Anton'; /* Apply Franchise font to h1 */
}

.about-gif {
  max-width: 300px; /* Adjust the maximum width of the GIF as needed */
  margin-top: -20px; /* Add some top margin to separate it from the content */
  margin-left: 160px; /* Move the GIF to the right */
  margin-right: 10px; /* Move the GIF to the right */
  display: block; /* Ensure the GIF is displayed as a block element */
}


.project-link:hover {
  text-decoration: none; /* Remove underline on hover */
}

.project-link {
  display: block; /* Make the anchor tag behave like a block-level element */
  width: 100%; /* Ensure the anchor tag fills the entire width of its parent container */
  height: 100%; /* Ensure the anchor tag fills the entire height of its parent container */
  text-decoration: none; /* Remove underline from the anchor tag */
  color: inherit; /* Inherit color from parent */
}
/* App.css */

/* Apply hover effect to the content box */
.content-box:hover {
  transform: scale(1.05); /* Scale up the box on hover */
}




/* Hide navigation buttons on screens smaller than 600px */
/* Adjust styles for smaller screens */
@media only screen and (max-width: 600px) {
 

  .header {
    padding: 10px;
  }

  .navigation ul {
    display: none;
  }


  .main-content {
    flex-direction: column;
    align-items: center; /* Center content vertically */
  }

  .content-box {
    width: 80%;
    margin: 10px;
  }

  .gif {
    max-width: 100%;
    margin-right: 300px;
  }

  .projects-grid {
    grid-template-columns: repeat(1, 1fr); /* Display one column on smaller screens */
  }
  h1 {
    font-size: 300% !important; /* Adjust font size of h1 for smaller screens */
  }
  .project-box {
    width: 87%; /* Adjust width of project box for smaller screens */
   /* Adjust margin for smaller screens */
  }
  .achievements-grid {
    grid-template-columns: repeat(1, 1fr); /* Display one column on smaller screens */
  }
  .achievement-box{
    width: 87%;
  }

  .about-gif {
    max-width: 100%; /* Make about me GIF responsive */
    margin-top: -20px; /* Add some top margin to separate it from the content */
    margin-left: 0; /* Remove left margin on smaller screens */
    margin-right: 0; /* Remove right margin on smaller screens */
    display: block; /* Ensure the GIF is displayed as a block element */
  }
  
  .about-page h1 {
    font-size: 28px !important; /* Adjust font size of about page h1 for smaller screens */
  }

  .about-box {
    width: 90%; /* Adjust width of about me box for smaller screens */
    margin: 30px !important; /* Adjust margin for smaller screens */
  }
  
}



.man {
  width: 50px;
  height: 100px;
  position: relative;
}

.head {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.body {
  width: 10px;
  height: 40px;
  background-color: #000;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.arms {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.arm {
  width: 10px;
  height: 30px;
  background-color: #000;
  position: absolute;
}

.arm:nth-child(1) {
  transform: rotate(45deg);
  top: -15px;
  left: -15px;
}

.arm:nth-child(2) {
  transform: rotate(-45deg);
  top: -15px;
  right: -15px;
}

.legs {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.leg {
  width: 10px;
  height: 30px;
  background-color: #000;
  position: absolute;
}

.leg:nth-child(1) {
  top: 0;
  left: -5px;
}

.leg:nth-child(2) {
  top: 0;
  right: -5px;
}
